extends  ../_skeleton
//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-rd-map
//- Title
block title
  title= cfg.nav.contacts.title
//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoCorporateNavbar,
    cfg.nav.contacts,
    cfg.nav
    )
  +breadcrumb-classic(
  cfg.nav.contacts.title,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.contacts.title,
      "href": cfg.nav.contacts.href
    }
  })
  // Page Content
  main.page-content
    section.section-70.section-md-114
      .shell
        .range.range-xs-center
          .cell-xs-10.cell-md-8.text-md-left
            h2.text-bold Get in Touch
            .hr-sm-left-0
            .offset-top-30.offset-md-top-60
              p You can contact us any way that is convenient for you. We are available 24/7 via fax or email. You can also use a quick contact form below or visit our office personally. We would be happy to answer your questions.
            .offset-top-30
              form.rd-mailform.text-left(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
                .range
                  .cell-lg-6
                    .form-group
                      label.form-label.form-label-outside(for="contact-me-name") First name
                      input#contact-me-name.form-control(type="text" name="name" data-constraints="@Required")
                  .cell-lg-6.offset-top-12.offset-lg-top-0
                    .form-group
                      label.form-label.form-label-outside(for="contact-me-last-name") Last name
                      input#contact-me-last-name.form-control(type="text" name="last-name" data-constraints="@Required")
                  .cell-lg-6.offset-top-12
                    .form-group
                      label.form-label.form-label-outside(for="contact-me-email") E-mail
                      input#contact-me-email.form-control(type="email" name="email" data-constraints="@Required @Email")
                  .cell-lg-6.offset-top-12
                    .form-group
                      label.form-label.form-label-outside(for="contact-me-phone") Phone
                      input#contact-me-phone.form-control(type="text" name="phone" data-constraints="@Required @IsNumeric")
                  .cell-lg-12.offset-top-12
                    .form-group
                      label.form-label.form-label-outside(for="contact-me-message") Message
                      textarea#contact-me-message.form-control(name="message" data-constraints="@Required" style="height: 220px")
                .text-center.text-lg-left.offset-top-20
                  button(type="submit").btn.btn-ellipse.btn-primary Send Message
          .cell-xs-10.cell-md-4.offset-top-65.offset-md-top-0.text-left
            .inset-md-left-30
              h6.text-bold Socials
              .hr.bg-gray-light.offset-top-10
              ul.list-inline.list-inline-xs.list-inline-madison
                li
                  a(href="#").icon.icon-xxs.fa-facebook.icon-circle.icon-gray-light-filled
                li
                  a(href="#").icon.icon-xxs.fa-twitter.icon-circle.icon-gray-light-filled
                li
                  a(href="#").icon.icon-xxs.fa-google.icon-circle.icon-gray-light-filled
                li
                  a(href="#").icon.icon-xxs.fa-instagram.icon-circle.icon-gray-light-filled

              .offset-top-30.offset-md-top-60
                h6.text-bold Phones
                div
                  .hr.bg-gray-light.offset-top-10
                .offset-top-15
                  ul.list.list-unstyled
                    li
                      span.icon.icon-xs.text-madison.mdi.mdi-phone.text-middle
                      a.text-middle.inset-left-10.text-dark(href="callto:1-800-1234-567") 1-800-1234-567
                    li
                      span.icon.icon-xs.text-madison.mdi.mdi-phone.text-middle
                      a.text-middle.inset-left-10.text-dark(href="callto:1-800-6547-321") 1-800-6547-321

              .offset-top-30.offset-md-top-60
                h6.text-bold E-mail
                div
                  .hr.bg-gray-light.offset-top-10
                .offset-top-15
                  ul.list.list-unstyled
                    li
                      span.icon.icon-xs.text-madison.mdi.mdi-email-outline.text-middle
                      a.text-primary.text-middle.inset-left-10(href="mailto:info@demolink.org") info@demolink.org

              .offset-top-30.offset-md-top-60
                h6.text-bold Address
                div
                  .hr.bg-gray-light.offset-top-10
                .offset-top-15
                  .unit.unit-horizontal.unit-spacing-xs
                    .unit-left
                      span.icon.icon-xs.mdi.mdi-map-marker.text-madison
                    .unit-body
                      p
                        a.text-dark(href="#") 2130 Fulton Street San Diego, CA 94117-1080 USA

              .offset-top-30.offset-md-top-65
                h6.text-bold Opening Hours
                div
                  .hr.bg-gray-light.offset-top-10
                .offset-top-15
                  .unit.unit-horizontal.unit-spacing-xs
                    .unit-left
                      span.icon.icon-xs.mdi.mdi-calendar-clock.text-madison
                    .unit-body
                      div
                        p Mon-Fri: 8:00am-8:00pm
                      div
                        p Sat: 8:00am-3:00pm
                      div
                        p Sun: Closed


    section.bg-madison
      +rd-map({
        "zoom": "14",
        "dataX": "-73.9874068",
        "dataY": "40.643180",
        "dataStyles": [{
          "featureType": "administrative",
          "elementType": "labels.text.fill",
          "stylers": [{"color": "#444444"}]
        }, {"featureType": "landscape", "elementType": "all", "stylers": [{"color": "#f2f2f2"}]}, {
          "featureType": "poi",
          "elementType": "all",
          "stylers": [{"visibility": "off"}]
        }, {
          "featureType": "poi.business",
          "elementType": "geometry.fill",
          "stylers": [{"visibility": "on"}]
        }, {
          "featureType": "road",
          "elementType": "all",
          "stylers": [{"saturation": -100}, {"lightness": 45}]
        }, {
          "featureType": "road.highway",
          "elementType": "all",
          "stylers": [{"visibility": "simplified"}]
        }, {
          "featureType": "road.arterial",
          "elementType": "labels.icon",
          "stylers": [{"visibility": "off"}]
        }, {
          "featureType": "transit",
          "elementType": "all",
          "stylers": [{"visibility": "off"}]
        }, {"featureType": "water", "elementType": "all", "stylers": [{"color": "#b4d4e1"}, {"visibility": "on"}]}]
      },[{
        "dataX": "-73.9874068",
        "dataY": "40.643180",
        "markerDesc": "9870 St Vincent Place, Glasgow"
      }])
  // Page Footer
  include ../sections/_section-footer-corporate