extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-thumbnail-default
include ../elements/_ui-pagination-bootstrap

//- Title
block title
  title= cfg.nav.news.submenu.modernNews.title

//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoCorporateNavbar,
    cfg.nav.news,
    cfg.nav
    )

  +breadcrumb-classic(
  cfg.nav.news.submenu.modernNews.title,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.news.title,
      "href": cfg.nav.news.href
    },
    2: {
      "title": cfg.nav.news.submenu.modernNews.title,
      "href": cfg.nav.news.submenu.modernNews.href
    }
  })

  // Page Content
  main.page-content
    #fb-root
    // Latest news
    section.section-70.section-md-114.bg-catskill
      .shell
        .range.range-xs-center
          .cell-md-8.text-left
            .section-post-news-modern.inset-xl-left-38
              .post-news-modern
                .unit.unit-sm.unit-sm-horizontal.unit-timeline.unit-sm-inverse
                  .unit-body
                    article.post-news.post-news-wide.view-animate.fadeInLeftSm.delay-04
                      a(href= cfg.nav.news.submenu.newsPostPage.href)
                        img.img-responsive(src="images/blog/news-01-770x500.jpg", width="770", height="500", alt="")
                      .post-news-body
                        h4.text-primary.text-bold
                          a(href= cfg.nav.news.submenu.newsPostPage.href) Thinking about Spring
                        p When we are lucky enough to have a few warm sunny days, many of our thoughts turn to spring ahead.  Are those snowbells popping up?  Is the dirt soft enough for digging?  Did you hear birds on your walk to school?
                        .post-news-meta.offset-top-30
                          .tags-list.group.group-sm.reveal-inline-block.text-middle
                            a.btn.btn-ellipse.btn-xs.btn-primary.text-italic(href= cfg.nav.news.submenu.newsPostPage.href) News
                            a.btn.btn-ellipse.btn-xs.btn-primary.text-italic(href= cfg.nav.news.submenu.newsPostPage.href) Spring
                            a.btn.btn-ellipse.btn-xs.btn-primary.text-italic(href= cfg.nav.news.submenu.newsPostPage.href) Activities
                  .unit-right.text-center.view-animate.fadeInUpSmall
                    .unit.unit-horizontal.unit-middle.unit-spacing-xxs.unit-sm.unit-sm-vertical.unit-sm-inverse
                      .unit-left
                        img.img-responsive.img-circle.reveal-inline-block(src="images/users/user-maria-freeman-90x90.jpg", width="90", height="90", alt="")
                        p.text-primary Maria Freeman
                      .unit-body.text-left.text-sm-center
                        time(datetime="2016-01-01") June 13, 2016 #[br] at 8:00 pm
              .post-news-modern
                .unit.unit-sm.unit-sm-horizontal.unit-timeline.unit-sm-inverse
                  .unit-body
                    article.post-news.post-news-wide.view-animate.fadeInLeftSm.delay-04
                      a(href= cfg.nav.news.submenu.newsPostPage.href)
                        img.img-responsive(src="images/blog/news-06-770x500.jpg", width="770", height="500", alt="")
                      .post-news-body
                        h4.text-bold.text-primary
                          a(href= cfg.nav.news.submenu.newsPostPage.href) 3 Open-Ended Activities for Preschoolers
                        p In our fast-paced, over-scheduled weeks, it can sometimes be a great benefit to slow down and dig into some good hands-on fun.  Instead of packing up and heading for fun away from home, try looking at home for the fun.  Here are some simple, inexpensive, ways to have open-ended fun with your young children.
                        .post-news-meta.offset-top-30
                          .tags-list.group.group-sm.reveal-inline-block.text-middle
                            a.btn.btn-ellipse.btn-xs.btn-primary.text-italic(href= cfg.nav.news.submenu.newsPostPage.href) News
                            a.btn.btn-ellipse.btn-xs.btn-primary.text-italic(href= cfg.nav.news.submenu.newsPostPage.href) Activities
                            a.btn.btn-ellipse.btn-xs.btn-primary.text-italic(href= cfg.nav.news.submenu.newsPostPage.href) Preschool
                  .unit-right.text-center.view-animate.fadeInUpSmall
                    .unit.unit-horizontal.unit-middle.unit-spacing-xxs.unit-sm.unit-sm-vertical.unit-sm-inverse
                      .unit-left
                        img.img-responsive.img-circle.reveal-inline-block(src="images/users/user-steven-alvarez-230x230.jpg", width="90", height="90", alt="")
                        p.text-primary Eric Hansen
                      .unit-body.text-left.text-sm-center
                        time(datetime="2016-01-01") June 10, 2016 #[br] at 8:00 pm
              .post-news-modern
                .unit.unit-sm.unit-sm-horizontal.unit-timeline.unit-sm-inverse
                  .unit-body
                    article.post-news.post-news-wide.view-animate.fadeInLeftSm.delay-04
                      a(href= cfg.nav.news.submenu.newsPostPage.href)
                        img.img-responsive(src="images/blog/news-03-770x500.jpg", width="770", height="500", alt="")
                      .post-news-body
                        h4.text-bold.text-primary
                          a(href= cfg.nav.news.submenu.newsPostPage.href) Exploring Light and Dark
                        p This time of year, we are seeing the first snowfalls and the weather is suddenly colder.  Despite the temperature, and the brighter mornings, sunset happens before bedtime.  Preschoolers notice these changes and the way that ice or snow makes the world around us so different from day to day. As children bring their observations to school, we bring exploration of light and dark into our curriculum.
                        .post-news-meta.offset-top-30
                          .tags-list.group.group-sm.reveal-inline-block.text-middle
                            a.btn.btn-ellipse.btn-xs.btn-primary.text-italic(href= cfg.nav.news.submenu.newsPostPage.href) News
                            a.btn.btn-ellipse.btn-xs.btn-primary.text-italic(href= cfg.nav.news.submenu.newsPostPage.href) Winter
                            a.btn.btn-ellipse.btn-xs.btn-primary.text-italic(href= cfg.nav.news.submenu.newsPostPage.href) Curriculum
                  .unit-right.text-center.view-animate.fadeInUpSmall
                    .unit.unit-horizontal.unit-middle.unit-spacing-xxs.unit-sm.unit-sm-vertical.unit-sm-inverse
                      .unit-left
                        img.img-responsive.img-circle.reveal-inline-block(src="images/users/user-maria-freeman-90x90.jpg", width="90", height="90", alt="")
                        p.text-primary Maria Freeman
                      .unit-body.text-left.text-sm-center
                        time(datetime="2016-01-01") June 9, 2016 #[br] at 8:00 pm
              .post-news-modern
                .unit.unit-sm.unit-sm-horizontal.unit-timeline.unit-sm-inverse
                  .unit-body
                    article.post-news.post-news-wide.view-animate.fadeInLeftSm.delay-04
                      a(href= cfg.nav.news.submenu.newsPostPage.href)
                        img.img-responsive(src="images/blog/news-05-770x500.jpg", width="770", height="500", alt="")
                      .post-news-body
                        h4.text-bold.text-primary
                          a(href= cfg.nav.news.submenu.newsPostPage.href) 2016/17 Entertainment Books for Your Children
                        p Kids Tree Preschool is excited to be joining in the Entertainment Membership Fundraising initiative again this year. We will be selling both the traditional Entertainment™ Book Membership that comes with the Gold Card and vouchers and the Entertainment™ Digital Membership that puts the value of the Entertainment™ Book into your iPhone or Android smartphone.
                        .post-news-meta.offset-top-30
                          .tags-list.group.group-sm.reveal-inline-block.text-middle
                            a.btn.btn-ellipse.btn-xs.btn-primary.text-italic(href= cfg.nav.news.submenu.newsPostPage.href) News
                            a.btn.btn-ellipse.btn-xs.btn-primary.text-italic(href= cfg.nav.news.submenu.newsPostPage.href) Books
                            a.btn.btn-ellipse.btn-xs.btn-primary.text-italic(href= cfg.nav.news.submenu.newsPostPage.href) Entertainment
                  .unit-right.text-center.view-animate.fadeInUpSmall
                    .unit.unit-horizontal.unit-middle.unit-spacing-xxs.unit-sm.unit-sm-vertical.unit-sm-inverse
                      .unit-left
                        img.img-responsive.img-circle.reveal-inline-block(src="images/users/user-steven-alvarez-230x230.jpg", width="90", height="90", alt="")
                        p.text-primary Eric Hansen
                      .unit-body.text-left.text-sm-center
                        time(datetime="2016-01-01") June 8, 2016 #[br] at 8:00 pm
            .offset-top-60.text-center.text-md-left
              +pagination-bootstrap(null, 1, 3)

          // aside
          .cell-md-4.text-left.cell-xs-8.offset-top-85.offset-md-top-0
            aside.inset-md-left-30
              include ../sections/_section-blog-sidebar-variant-2
              .offset-top-60
                h6.text-bold Tags
                .text-subline
                .offset-top-20
                  .tags-list.group.group-sm.reveal-inline-block.text-middle
                    a.btn.btn-xs.btn-primary.text-italic(href= cfg.nav.news.submenu.newsPostPage.href) News
                    a.btn.btn-xs.btn-primary.text-italic(href= cfg.nav.news.submenu.newsPostPage.href) Activities
                    a.btn.btn-xs.btn-primary.text-italic(href= cfg.nav.news.submenu.newsPostPage.href) Entertainment
                    a.btn.btn-xs.btn-primary.text-italic(href= cfg.nav.news.submenu.newsPostPage.href) Spring
                    a.btn.btn-xs.btn-primary.text-italic(href= cfg.nav.news.submenu.newsPostPage.href) Winter
                    a.btn.btn-xs.btn-primary.text-italic(href= cfg.nav.news.submenu.newsPostPage.href) Curriculum
  .bg-catskill
    // Page Footer
    include ../sections/_section-footer-corporate