extends  ../_skeleton
//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-thumbnail-default
include ../elements/_ui-box-comment
//- Title
block title
  title= cfg.nav.news.submenu.newsPostPage.title
//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoCorporateNavbar,
    cfg.nav.news,
    cfg.nav
    )
  +breadcrumb-classic(
  "News",
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.news.title,
      "href": cfg.nav.news.href
    },
    2: {
      "title": cfg.nav.news.submenu.newsPostPage.title,
      "href": cfg.nav.news.submenu.newsPostPage.href
    }
  })
  // Page Content
  main.page-content
    #fb-root
    // Latest news
    section.section-70.section-md-114
      .shell
        .range.range-xs-center
          .cell-sm-8.cell-md-8.text-md-left
            h2.text-bold.
              2016/17 Entertainment Books for  Your Children
            .hr-md-left-0
            .offset-md-top-47.offset-top-20
              ul.post-news-meta.list.list-inline.list-inline-xl
                li
                  span.icon.icon-xs.mdi.mdi-calendar-clock.text-middle.text-madison
                  span.text-middle.inset-left-10.text-italic.text-black 2 days ago
                li
                  span.icon.icon-xs.mdi.mdi-account.text-middle.text-madison
                  span.text-middle.inset-left-10.text-italic.text-primary Ronald Austin
            .offset-top-30
              img.img-responsive(src="images/blog/news-07-770x500.jpg", width="770", height="500", alt="")
              .offset-top-30
                p Kids Tree Preschool is excited to be joining in the Entertainment Membership Fundraising initiative again this year. We will be selling both the traditional Entertainment Book Membership that comes with the Gold Card and vouchers and the Entertainment Digital Membership that puts the value of the Entertainment Book into your iPhone or Android smartphone.
              p  You will be able to choose an entertainment membership that’s the perfect fit for you, with the option of having the good old Entertainment Book or the new Digital Membership on your smartphone. The Digital Membership puts the value of the traditional Entertainment Book into your hand, and allows you to access it on the go and share with another family member.
            .offset-top-30
              img.img-responsive(src="images/blog/news-08-770x500.jpg", width="770", height="500", alt="")
              .offset-top-30
                p Last year’s 2015/16 edition was an amazing success with more books than ever being sold, all thanks to our supporters who have been outstanding and done a stella job with taking it on to be our local re-sellers.
              p All Entertainment™ Memberships described above contain over $20,000 in valuable offers you can use until 1st June, 2017 including thousands of valuable up to 50% off and 2-for-1 offers from many of the best restaurants, cafés, arts, attractions, hotel accommodation, travel and much more!  Memberships are available for sale now, either through our website or on the order form that will be sent home during the following week.  If you purchase your membership before August 21, you will also receive over $200 worth of Bonus Offers which you can use straight away!
            .offset-top-30.post-news-meta.range.range-xs-middle.range-xs-center
              .cell-md-6
                .tags-list.group.group-sm.reveal-inline-block.text-middle
                  a.btn.btn-ellipse.btn-xs.btn-primary.text-italic(href="#") News
                  a.btn.btn-ellipse.btn-xs.btn-primary.text-italic(href="#") Books
                  a.btn.btn-ellipse.btn-xs.btn-primary.text-italic(href="#") Entertainment
                  a.btn.btn-ellipse.btn-xs.btn-primary.text-italic(href="#") Preschool
              .cell-md-6
                ul.list-inline.list-inline-xs.list-inline-madison.pull-md-right.text-middle
                  li
                    a(href="#").icon.icon-xxs.fa-facebook.icon-circle.icon-gray-light-filled
                  li
                    a(href="#").icon.icon-xxs.fa-twitter.icon-circle.icon-gray-light-filled
                  li
                    a(href="#").icon.icon-xxs.fa-google.icon-circle.icon-gray-light-filled
                  li
                    a(href="#").icon.icon-xxs.fa-instagram.icon-circle.icon-gray-light-filled
            .offset-top-50
              h6.text-bold Author
              .text-subline
              .offset-top-30
                .unit.unit-sm.unit-sm-horizontal.unit-spacing-lg
                  .unit-left
                    img.img-responsive.img-rounded.reveal-inline-block(src="images/users/user-ronald-austin-170x170.jpg", width="170", height="170", alt="")
                  .unit-body.text-sm-left
                    h6.text-bold.text-primary Ronald Austin
                    p I am a professional blogger interested in everything taking place in cyberspace. I am running this website and try my best to make it a better place to visit. I post only the articles that are related to the topic and thoroughly analyze all visitors’ comments to cater to their needs better.
              .offset-top-60
                h6.text-bold Comments
                .text-subline
                .offset-top-30
                  //- Comment 1
                  +box-comment(
                  "box-comment-classic",
                  {
                    "width": 80,
                    "height": 80,
                    "src": "images/users/user-maria-freeman-90x90.jpg",
                    "alt": ""
                  },
                  "2 days ago",
                  "Theresa Lane",
                  "Thank you for such a useful article. Now I know what Entertainment membership to pick for my child and what books are better to read this summer."
                  )
                    //- Reply 1
                    +box-comment(
                    "box-comment-classic",
                    {
                      "width": 80,
                      "height": 80,
                      "src": "images/users/user-ronald-austin-170x170.jpg",
                      "alt": ""
                    },
                    "2 days ago",
                    "Roland Austin",
                    "Thank you!"
                    )
                  .offset-top-60
                    h6.text-bold Send a Comment
                    .text-subline
                    .offset-top-20
                      form.rd-mailform.text-left(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
                        .range
                          .cell-lg-6
                            .form-group
                              label.form-label.form-label-outside(for="comment-form-first-name") First name
                              input#comment-form-first-name.form-control.form-validation-inside(type="text" name="first-name" data-constraints="@Required")
                          .cell-lg-6.offset-top-12.offset-lg-top-0
                            .form-group
                              label.form-label.form-label-outside(for="comment-form-last-name") Last name
                              input#comment-form-last-name.form-control.form-validation-inside(type="text" name="last-name" data-constraints="@Required")
                          .cell-lg-6.offset-top-12
                            .form-group
                              label.form-label.form-label-outside(for="comment-form-email") E-mail
                              input#comment-form-email.form-control.form-validation-inside(type="email" name="email" data-constraints="@Required @Email")
                          .cell-lg-6.offset-top-12
                            .form-group
                              label.form-label.form-label-outside(for="comment-form-phone") Phone
                              input#comment-form-phone.form-control.form-validation-inside(type="text" name="phone" data-constraints="@IsNumeric")
                          .cell-lg-12.offset-top-12
                            .form-group
                              label.form-label.form-label-outside(for="comment-form-message") Message
                              textarea#comment-form-message.form-control.form-validation-inside(name="message" data-constraints="@Required")
                        .offset-top-20.text-center.text-sm-left
                          button(type="submit").btn.btn-ellipse.btn-primary Submit
          // aside
          .cell-md-4.text-left.cell-xs-8.offset-top-85.offset-md-top-0
            aside.inset-md-left-30
              include ../sections/_section-blog-sidebar-variant-2
              .offset-top-60
                h6.text-bold Tags
                .text-subline
                .offset-top-20
                  .tags-list.group.group-sm.reveal-inline-block.text-middle
                    a.btn.btn-ellipse.btn-xs.btn-primary.text-italic(href="#") News
                    a.btn.btn-ellipse.btn-xs.btn-primary.text-italic(href="#") Preschool
                    a.btn.btn-ellipse.btn-xs.btn-primary.text-italic(href="#") Education
                    a.btn.btn-ellipse.btn-xs.btn-primary.text-italic(href="#") School
                    a.btn.btn-ellipse.btn-xs.btn-primary.text-italic(href="#") Activities


  // Page Footer
  include ../sections/_section-footer-corporate