// Corporate footer
footer.section-60.page-footer
  .shell
    .range.range-xs-center.range-sm-middle.text-md-left
      .cell-xs-10.cell-md-6
        //Footer brand
        a(href="index.html").reveal-inline-block
          .unit.unit-xs-middle.unit-md.unit-md-horizontal.unit-spacing-xxs
            .unit-left
              img.img-responsive.reveal-inline-block(src="images/logo-170x172.png" width=70 height=70 alt="")
            .unit-body.text-xl-left
              div
                h6.barnd-name.text-bold.offset-top-25 Kids Tree
              div
                p.brand-slogan.text-gray.text-italic.font-accent Preschool

      .cell-xs-10.cell-md-6.text-md-right.offset-top-20.offset-md-top-0
        p.text-dark
          | &copy; #[span(id="copyright-year")] All Rights Reserved Terms of Use and #[a(href="privacy.html" class="text-dark") Privacy Policy]

