// Corporate footer
footer.section-60.page-footer.section-bottom-20
  .shell
    .range.range-xs-center
      .cell-md-3.cell-lg-2
        //Footer brand
        a(href="index.html").reveal-inline-block.view-animate.zoomInSmall.delay-06
          img(width='65' height='65' src='images/logo-170x172.png' alt='')
          div
            h6.barnd-name.text-bold.offset-top-12 Kids Tree
          div
            p.brand-slogan.text-gray.text-italic.font-accent Preschool
      .cell-xs-12.offset-top-15.offset-sm-top-40.text-center

        ul.list-inline.list-inline-xs.list-inline-madison
          li
            a(href="#").icon.icon-xxs.fa-facebook.icon-circle.icon-gray-light-filled.view-animate.zoomInSmall.delay-04
          li
            a(href="#").icon.icon-xxs.fa-twitter.icon-circle.icon-gray-light-filled.view-animate.zoomInSmall.delay-06
          li
            a(href="#").icon.icon-xxs.fa-google.icon-circle.icon-gray-light-filled.view-animate.zoomInSmall.delay-08
          li
            a(href="#").icon.icon-xxs.fa-instagram.icon-circle.icon-gray-light-filled.view-animate.zoomInSmall.delay-1

      .cell-xs-12.text-center.offset-top-20.offset-sm-top-45
        p
          | &copy; #[span(id="copyright-year")] All Rights Reserved Terms of Use and #[a(href="privacy.html") Privacy Policy]

