//- Includes
include ../elements/_widget-flickrfeed
include ../elements/_widget-tags
include ../elements/_widget-form-search
h6.text-bold Search
.text-subline
.offset-top-30
  +widget-form-search()
.offset-top-60
  // Archive
  h6.text-bold Archive
  .text-subline
  .row.offset-top-20
    .col-xs-6
      ul.list.list-marked.list-marked-primary
        li
          a(href= cfg.nav.news.submenu.newsPostPage.href) Jun 2016
        li
          a(href= cfg.nav.news.submenu.newsPostPage.href) Aug 2016
        li
          a(href= cfg.nav.news.submenu.newsPostPage.href) Oct 2016
        li
          a(href= cfg.nav.news.submenu.newsPostPage.href) Dec 2016
        li
          a(href= cfg.nav.news.submenu.newsPostPage.href) Feb 2017
    .col-xs-6
      ul.list.list-marked.list-marked-primary
        li
          a(href= cfg.nav.news.submenu.newsPostPage.href) Jul 2016
        li
          a(href= cfg.nav.news.submenu.newsPostPage.href) Sep 2016
        li
          a(href= cfg.nav.news.submenu.newsPostPage.href) Nov 2016
        li
          a(href= cfg.nav.news.submenu.newsPostPage.href) Jan 2016
        li
          a(href= cfg.nav.news.submenu.newsPostPage.href) Mar 2017

.offset-top-60
  // Flickr Feed
  h6.text-bold Gallery
  .text-subline
  .offset-top-20.text-left
    +widget-flickrfeed("tm-61183", {"data-image_q": "src"}, 6)

.offset-top-60
  // Categories
  h6.text-bold Categories
  .text-subline
  .offset-top-20
    ul.list.list-marked.list-marked-primary
      li
        a(href= cfg.nav.news.submenu.newsPostPage.href) News
      li
        a(href= cfg.nav.news.submenu.newsPostPage.href) Preschool
      li
        a(href= cfg.nav.news.submenu.newsPostPage.href) Education
      li
        a(href= cfg.nav.news.submenu.newsPostPage.href) School
      li
        a(href= cfg.nav.news.submenu.newsPostPage.href) Activities
.offset-top-60
  // Facebook standart widget
  div
    .fb-root.fb-widget
      .fb-page-responsive
        .fb-page(data-href='https://www.facebook.com/TemplateMonster', data-tabs='timeline', data-height='220', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
          .fb-xfbml-parse-ignore
            blockquote(cite='https://www.facebook.com/TemplateMonster')
              a(href='https://www.facebook.com/TemplateMonster') TemplateMonster