-
  var cfg = {
    "brand": {
      "name": "Kids Tree",
      "slogan": "Preschool",
      "logoCorporateNavbar": "<img width='70' height='70' src='images/logo-170x172.png' alt=''/>",
      "logoHumburgerNavbar": "<img width='130' height='130' src='images/logo-170x172.png' alt=''/>"
    },
    "nav": {
      "home": {
        "title": "Home",
        "href": "index.html"
      },
      "elements": {
        "title": "Elements",
        "href": "#",
        "submenu": {
          "grid": {
            "title" : "Grid",
            "href": "grid.html"
          },
          "icons": {
            "title": "Icons",
            "href":  "icons.html"
          },
          "tables":{
            "title": "Tables",
            "href": "tables.html"
          },
          "progressBars": {
            "title": "Progress bars",
            "href": "progress-bars.html"
          },
          "tabsAndAccordions" : {
            "title": "Tabs & Accordions",
            "href": "tabs-and-accordions.html"
          },
          "forms": {
            "title": "Forms",
            "href": "forms.html"
          },
          "buttons": {
            "title": "Buttons",
            "href": "buttons.html"
          },
          "typography": {
            "title": "Typography",
            "href": "typography.html"
          }
        }
      },
      "pages": {
        "title": "Pages",
        "href": "#",
        "submenu" : {
          "programs" :{
            "title": "Programs",
            "href": "academic.html",
            "submenu": {
              "infant&BabyCare":{
                "title": "Infant & Baby Care",
                "href": "academic.html#0"
              },
              "graduateProfessionalStudy":{
                "title": "Early Preschool",
                "href": "academic.html#1"
              },
              "departmentsPrograms":{
                "title": "Preschool",
                "href": "academic.html#2"
              },
              "globalEducation":{
                "title": "Pre-Kindergarten",
                "href": "academic.html#3"
              },
              "summerSession": {
                "title": "Summer Camp",
                "href": "academic.html#4"
              },
              "nonDegreeOfferings":{
                "title": "Junior Kindergarten",
                "href": "academic.html#5"
              },
              "onlineLearning": {
                "title": "Interactive Kindergarten",
                "href": "academic.html#6"
              }
            }
          },
          "pages" :{
            "title": "Pages",
            "href": "#",
            "submenu": {
              "page404":{
                "title": "404",
                "href": "404.html"
              },
              "termsOfUse": {
                "title": "Terms of Use",
                "href": "privacy.html"
              },
              "maintenance": {
                "title": "Maintenance",
                "href": "maintenance.html"
              },
              "loginRegister": {
                "title": "Login/Register",
                "href": "login-register.html"
              },
              "comingSoon": {
                "title": "Coming Soon",
                "href": "coming-soon.html"
              },
              "searchResults": {
                "title": "Search Results",
                "href": "search-results.html"
              },
              "apply": {
                "title": "Apply",
                "href": "apply.html"
              }
            }
          },
          "layouts": {
            "title": "Layouts",
            "href": "#",
            "submenu": {
              "headerTransparent": {
                "title": "Header Transparent",
                "href": "header-transparent.html"
              },
              "headerCenterFooterCenter": {
                "title": "Header Center, Footer Center",
                "href": "header-center.html"
              },
              "headerMinimalFooterCenter": {
                "title": "Header Minimal, Footer Center",
                "href": "header-minimal.html"
              },
              "headerCorporate": {
                "title": "Header Corporate",
                "href": "header-corporate.html"
              },
              "headerHamburgerMenu": {
                "title": "Header Hamburger Menu",
                "href": "header-hamburger-menu.html"
              },
              "footerMinimal": {
                "title": "Footer Minimal",
                "href": "footer-minimal.html"
              },
              "footerWidget": {
                "title": "Footer Widget",
                "href": "footer-widget.html"
              }
            }
          },
          "about": {
            "title": "About",
            "href": "#",
            "submenu": {
              "history": {
                "title": "History",
                "href": "history.html"
              },
              "people": {
                "title": "People",
                "href": "people.html"
              },
              "teamMemberProfile": {
                "title": "Team Member Profile",
                "href": "team-member-profile.html"
              }
            }
          },
          "eventsCalendar": {
            "title": "Event Calendar",
            "href": "#",
            "submenu": {
              "calendar":{
                "title": "Calendar",
                "href": "calendar.html"
              },
              "dayEvent":{
                "title": "Daily Events",
                "href": "day-event.html"
              },
              "eventPage":{
                "title": "Event Page",
                "href": "event-page.html"
              }
            }
          }
        }
      },
      "campus": {
        "title": "Gallery",
        "href": "#",
        "submenu": {
          "gridGallery":{
            "title": "Grid Gallery",
            "href": "grid-gallery.html"
          },
          "gridWithoutPaddingGallery": {
            "title": "Grid Without Padding Gallery",
            "href": "grid-without-padding-gallery.html"
          },
          "masonryGallery":{
            "title": "Masonry Gallery",
            "href": "masonry-gallery.html"
          },
          "cobblesGallery": {
            "title": "Cobbles Gallery",
            "href": "cobbles-gallery.html"
          }
        }
      },
      "donate": {
        "title": "Donate",
        "href": "donate.html"
      },
      "contacts": {
        "title": "Contacts",
        "href": "contacts.html"
      }
    }
  }